<div class="list-wrapper" id="list-<%= list.id %>">
  <div class="list">
    <div class="list-header">
      <textarea class="list-header-name" name="list-name" spellcheck="false"><%= list.name %></textarea>
      <div class="list-header-extras">
        <div class="list-header-extras-menu js-open-list-menu" data-list-id=<%= list.id %>>
          <%= icon 'fa', 'ellipsis-h', class: 'icon-sm list-menu-btn-icon' %>
        </div>
      </div>
    </div>
    <div class="list-cards">
      <%= render list.cards %>
      <%= render partial: 'cards/form', locals: { list: list, card: Card.new() } %>
    </div>
  </div>
</div>