<div class="board-header">
  <div class="board-header-btn js-rename-board">
  <%= form_with model: @board, method: :put, html: { class: 'board-title-update-form' } do |f| %>
    <span class="board-editing-target"><%= @board.title %></span>
    
    <%= f.text_field :title, class: 'board-name-input js-board-name-input', spellcheck: 'false', autocomplete: 'off', dir: 'auto', maxlength: '512', value:@board.title %>
    <%= f.submit '保存', { class: 'board-title-update-url' } %>
  <% end %>
  </div>
  <div class="board-warnings hidden"></div>
  <div class="board-header-btns mod-right">
    <div class="board-header-btn mod-show-menu js-show-sidebar">
      <%= icon 'fa', 'ellipsis-h', class: 'icon-sm board-header-btn-icon' %><span
        class="board-header-btn-text">ボードメニューを表示</span>
    </div>
  </div>
</div>

