<%= render partial: 'new' %>
<div class="sidebar-boards-list">
  <div class="sidebar">
    <nav class="home-left-sidebar">
      <ul class="sidebar-nav">
        <li>
          <%= link_to root_path, method: :get, class: 'home' do %>
          <div class="sidebar-nav-menu">
            <%= icon 'fa', 'list-ul', class: "fa fa-icon"%><span>ボード</span>
          </div>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
  <div class="all-boards">
    <div class="boards-page-width" style="max-width: 830px;">
      <div class="boards-page-section">
        <%= icon 'far', 'clock', class: 'fa' %><span>最近の表示</span>
        <div>
          <ul class="boards-list">
            <% @boards.each do |board| %>
            <li>
              <%= link_to board, method: :get, class: 'board-cards-list' do %>
              <div class="board-card">
                <span class="board-card-fade">
                  <div class="board-tile-details">
                    <p class="board-card-title"><%= board.title %></p>
                    <div class="board-tile-details-sub-container">
                      <div class="board-tile-options">
                        <%# お気に入りボタンなど %>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="boards-page-section">
        <%= icon 'far', 'user', class: 'fa' %><span>ユーザーボード</span>
        <div>
          <ul class="boards-list">
            <% @boards.each do |board| %>
            <li>
              <%= link_to board, method: :get, class: 'board-cards-list' do %>
              <div class="board-card">
                <span class="board-card-fade">
                  <div class="board-tile-details">
                    <p class="board-card-title"><%= board.title %></p>
                    <div class="board-tile-details-sub-container">
                      <div class="board-tile-options">
                        <%# お気に入りボタンなど %>
                      </div>
                    </div>
                  </div>
                </span>
              </div>
              <% end %>
            </li>
            <% end %>
            <li>
              <div id="new-board-create" class="new-board-card">
                <span class="new-board-card-fade"></span>
                <p class="new-board-create">新しいボードを作成</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'boards/board' %>
<%= javascript_pack_tag 'boards/board_new' %>