<div class="background-cover">
  <div class="board-wrapper">
    <%= render partial: 'boards/board-header' %>
    <div class="board-canvas">
    </div>
    <div id="board">
      <%= render @board.lists %>
      <%= render partial: 'lists/form', locals: { list: @list } %>
    </div>
    <%= render partial: 'boards/board-menu', locals: { board: @board } %>
  </div>
</div>
<%= render partial: 'cards/edit' %>
<%= javascript_pack_tag 'boards/list' %>
<%= javascript_pack_tag 'boards/card' %>