<div class="background-cover">
  <div class="board-wrapper">
    <%= render partial: 'boards/board-header' %>
    <div class="board-canvas">
    </div>
    <div id="board">
      <div class="js-scroll-view" style="width: cover; display: flex;">
        <%= render @board.lists %>
        <%= render partial: 'lists/form', locals: { list: @list } %>
      </div>
    </div>
    <%= render partial: 'boards/board-menu', locals: { board: @board } %>
  </div>
</div>
<%= render partial: 'lists/menu' %>
<%= render partial: 'cards/edit' %>
<%= javascript_pack_tag 'boards/list' %>
<%= javascript_pack_tag 'boards/card' %>