<div class="quick-card-editor hidden">
  <span class="icon-close quick-card-editor-close-icon-cancel">×</span>
  <div class="quick-card-editor-card" style="width: 256px;">
    <%= form_with url: 'cardS/#', method: :put, html: { class: 'list-card-edit-form js-save-edits' } do |f| %>
    <div class="list-card list-card-quick-edit">
      <div class="list-card-details js-card-details">
        <%= f.text_area :name, name: 'card[name]', class: "list-card-edit-title js-edit-card-title", dir: "auto",
          style: "overflow: hidden; overflow-wrap: break-word; resize: none;" %>
      </div>
    </div>
    <%= f.submit '保存', { class: 'list-card-edit-submit-btn primary js-save-edits' } %>
    <% end %>
    <div class="quick-card-editor-buttons">
      <%= link_to '#', class: 'quick-card-editor-buttons-item js-edit-labels', method: :delete, remote: true do %>
      <%= icon 'far', 'trash-alt', class: 'card-edit-icon' %>
      <span class="quick-card-editor-buttons-item-text">削除</span>
      <% end %>
    </div>
  </div>
</div>