<nav class="nav-bar">
  <div class="navbar-left">
    <%= link_to root_path, method: :get, class: 'home' do %>
    <i class="fa fa-home"></i>
    <% end %>
    <div class="board-list">
      <%= icon 'fa', 'list-ul' %><span>ボードリスト</span>
    </div>
  </div>
  <div>
    <%= link_to 'ToDoApp', root_path, class: 'navbar-brand' %>
  </div>
  <div class="navbar-right">
    <div class="user-edit">
      <i class="fa fa-user-circle user-edit-icon"></i>
    </div>
  </div>
  <div class="user-menu hidden">
    <div class="user-menu-container">
      <div class="user-menu-tab-content">
        <div class="user-menu-header">
          <div class="user-menu-header-content">
            <h3 class="user-menu-header-title"><%= current_user.username %></h3>
            <span class="user-menu-header-close-button">×</span>
          </div>
          <hr class="user-menu-header-divider">
        </div>
        <div class="user-menu-content">
          <div class="user-menu-content-frame">
            <ul class="user-menu-navigation">
              <li class="user-menu-navigation-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'user-menu-navigation-item-link', data: { confirm: "ログアウトしますか？" } %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>