<!DOCTYPE html>
<html>

<head>
  <title>App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://unpkg.com/scrollbooster@2/dist/scrollbooster.min.js"></script>
</head>

<body>
  <% if user_signed_in? %>
  <%= render 'header' %>
  <% end %>
  <% if flash[:notice] %>
    <div class="info info-notice">
      <p class="notice"><%= flash[:notice] %></p>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="info info-danger">
      <p class="alert"><%= flash[:alert] %></p>
    </div>
  <% end %>
  <%= yield %>
</body>
<%= javascript_pack_tag 'boards/board' %>

</html>